@charset utf-8;
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* ===================== */
/* モバイルファーストで記述 */
/* ==================== */




/* ========== スマートフォン ========== */
html {
	font-size: 62.5%; /* 10px */
}

br {
	/* display: none; */
}

body {
	font-style: normal; 
	font-family: 'メイリオ','Hiragino Kaku Gothic Pro', sans-serif;
	font-size: 1.4rem;
	height: auto;
}

header:after {
	content: "";
	display: block;
	clear: both;
}

header {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom:solid 2px #dddddd;
}

.page-title:after {
	content: "";
	display: block;
	clear: both;
}

.page-title {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-color: #383838; 
}

.page-title h2 {
	color: #fff;
}

#menubtn {
		padding: 6px 12px;
		border: solid 1px #aaaaaa;
		border-radius: 5px;
		background-color: #ffffff;
		position: absolute;
		top: 20px;
		right: 15px;
		cursor: pointer;
}

#menubtn:hover {
	background-color: #dddddd;
}

#menubtn:focus {
	outline: none; 
}

#menubtn i {
	color: #888888;
	font-size: 1.8rem;
}

#menubtn span {
	display: inline-block;
	text-indent: -9999px;
}

.menu {
	display: none;
}

.menu ul {
	margin:0;
	padding: 0;
	list-style: none;
}
/* ===== ヘッダー =====*/
.site h1 a {
	color: #000000;
	text-decoration: none;
}

.site h1 {
	margin: 0;
	font-size: 1.5rem;
}

.menu ul {
	margin:0;
	padding: 0;
	list-style: none;
}

.menu li a {
	display: block;
	padding: 10px 15px;
	color: #000000;
	font-size:1.6rem;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #eee;
}

.menu ul:after {
	content: "";
	display: block;
	clear: both;
}

.menu li {
	float: left;
	width: auto;
}

h2 {
	font-size: 2.0rem;
	text-align: center;
}

.budge {
	background-color: red;
	color: #fff;
	padding: 2px;
	-webkit-border-radius:10%;
	-moz-border-radius:10%;
}

.form *{
	margin: 0 auto;
}

.form p {
	font-size: 1.6rem;
}

input,textarea {
	width: 100%;
}

.fo-style {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
}

.fo-style p ,.fo-style h3 {
	text-align: center;
}

.fot-style h3 {
	font-size: 1.5rem;
}

.fo-name,.fo-mail,.fo-tel,.fo-sub,.fo-main {
	border:0;
	padding:10px;
	font-size:1.2em;
	font-family:Arial, sans-serif;
	color:#aaa;
	border:solid 1px #ccc;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
}

.fo-button {
	text-align: center;
}

.button {
	padding: 10px 50px;
	font-size: 1.4rem;
	border:0;
	border:solid 1px #ccc;
	color: #aaa;
	background-color: #fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	font-family:Arial, sans-serif;
	margin-bottom: 20px;
}

.button:hover {
	background-color: #ccc;
	opacity: 0.8;
}


footer:after {
	content: "";
	display: block;
	clear: both;
}

.footer-left:after {
	content: "";
	display: block;
	clear: both;
}

.footer-right:after {
	content: "";
	display: block;
	clear: both;
}

.footer-wrap:after {
	content: "";
	display: block;
	clear: both;
}

footer {
	background-color: #383838;
}

footer *  {
	margin: 0;
	color: #ffffff;
	font-size: 1.4rem;
}

.footer-right {
	display: none;
}

.footer-right h4 {
	font-size: 2.0rem;
}

.footer-left p a {
	text-align: left;
	text-decoration: none;
}

.footer-left {
	padding: 10px 0;
	width: 100%;
}

.footer-left * {
	text-align: center;
}


/* ===== タブレット向けのスタイル =====*/
@media screen and (min-width: 600px){
	
	.site h1 a {
		font-size: 2.5rem;
	}

	.fo-style {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 15px;
	}
}


/* ===== PC（小）向けのスタイル ===== */

@media screen and (min-width: 960px) {

#menubtn {
	display: none;
}

#menu {
	display: block !important;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li a {
	display: block;
	padding: 10px 15px;
	color: #000000;
	font-size: 1.4rem;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #eeeeee;
}

.menu ul:after {
	content: "";
	display: block;
	clear: both;
}

.menu li {
	float: left;
	width: auto;
}

.title {
	float: left;
	width: auto;
}

.box2 {
	float: right;
	width: auto;
}

.fo-style {
	width: calc(100% / 3);
	margin: 0 auto;
	margin-bottom: 15px;
}

.footer-wrap {
	padding: 10px 100px;
}

.footer-left {
	display: inline;
	width: 50%;	
	float: left;
}	

.footer-left p {
 	text-align: left;
}

.footer-right {
	width: 50%;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.footer-left ul {
	margin: 50%;
}

.footer-left h4 {
	font-size: 1.8rem;
	text-align: left;
}

.footer-right p {
	padding-top: 15px;
	text-align: center;
}

.footer-right ul li {
	float: left;
	width: 32%;
	margin-right: 2%;
}

.footer-right ul li:last-child {
	margin-right: 0;
}

.footer-right ul li a {
	text-decoration: none;
}

}

@media screen and (min-width: 1281px){
	.feature,.news{
		width:1231px;
		margin-left: auto;
		margin-right: auto;
	}

	.feature1 {
		float: left;
		width: 32%;
		margin-right: 2%;
	}

	.feature2 {
		float: left;
		width: 32%;
		margin-right: 2%;
	}

	.feature3 {
		float: left;
		width: 32%;
	}

}
