@charset utf-8;
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* ===================== */
/* モバイルファーストで記述 */
/* ==================== */




/* ========== スマートフォン ========== */
html {
	font-size: 62.5%; /* 10px */
	min-height: 100%;
	position: relative;
}

br {
	/* display: none; */
}

body {
	font-style: normal; 
	font-family: 'メイリオ','Hiragino Kaku Gothic Pro', sans-serif;
	font-size: 1.4rem;
	height:100%;
}

header:after {
	content: "";
	display: block;
	clear: both;
}

header {
	padding-top: 20px;
	padding-bottom: 10px;
}

section:after {
	content: "";
	display: block;
	clear: both;
}

header {
	border-bottom: solid 1px #ccc;
}


#menubtn {
		padding: 6px 12px;
		border: solid 1px #aaaaaa;
		border-radius: 5px;
		background-color: #ffffff;
		position: absolute;
		top: 20px;
		right: 15px;
		cursor: pointer;
}

#menubtn:hover {
	background-color: #dddddd;
}

#menubtn:focus {
	outline: none; 
}

#menubtn i {
	color: #888888;
	font-size: 1.8rem;
}

#menubtn span {
	display: inline-block;
	text-indent: -9999px;
}

.menu {
	display: none;
}

.menu ul {
	margin:0;
	padding: 0;
	list-style: none;
}

.site h1 a {
	color: #000000;
	text-decoration: none;
}

.site h1 {
	margin: 0;
	font-size: 1.5rem;
}

.menu ul {
	margin:0;
	padding: 0;
	list-style: none;
}

.menu li a {
	display: block;
	padding: 10px 15px;
	color: #000000;
	font-size:1.4rem;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #eee;
}

.menu ul:after {
	content: "";
	display: block;
	clear: both;
}

.menu li {
	width: auto;
}
.pg-title {
	background-color: #383838;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.pg-title h2 {
	color: #fff;
	font-size: 2.4rem;
	text-align: center;
}

.overview:after {
	content: "";
	display: block;
	clear: both;
}

.overview {
	margin-top: 80px;
	margin-bottom: 50px;
}

table {
	border-collapse: collapse;
	width:100%;
}
th.t_top {
    border-top: #be1309 4px solid;
}
th {
	border-bottom: #e3e3e3 1px dotted;
	background-color: #efefef;
	text-align: left;
	padding: 20px;
	font-weight: normal;
	width: 30%;
}
td.t_top {
	border-top: #b3b3b3 4px solid;
}
td {
	border-bottom: #e3e3e3 1px dotted;
	text-align: left;
	padding: 20px;
}
tr:hover {
    background: #3D80DF;
    color: #FFFFFF;
}

td a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #000;
}

/* ===== footer ===== */

footer:after {
	content: "";
	display: block;
	clear: both;
}

.footer-left:after {
	content: "";
	display: block;
	clear: both;
}

.footer-right:after {
	content: "";
	display: block;
	clear: both;
}

.footer-wrap:after {
	content: "";
	display: block;
	clear: both;
}

footer {
	background-color: #383838;
	width: 100%;
}

footer *  {
	margin: 0;
	color: #ffffff;
	font-size: 1.4rem;
}

.footer-right {
	display: none;
}

.footer-right h4 {
	font-size: 2.0rem;
}

.footer-left p a {
	text-align: left;
	text-decoration: none;
}

.footer-left {
	padding: 10px 0;
	width: 100%;
}

.footer-left * {
	text-align: center;
}

header {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}


/* ===== タブレット向けのスタイル =====*/
@media screen and (min-width: 600px){
	


	.site h1 a {
		font-size: 2.0rem;
	}

}


/* ===== PC（小）向けのスタイル ===== */

@media screen and (min-width: 960px) {

#menubtn {
	display: none;
}

#menu {
	display: block !important;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li a {
	display: block;
	padding: 10px 15px;
	color: #000000;
	font-size: 1.4rem;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #eeeeee;
}

.menu ul:after {
	content: "";
	display: block;
	clear: both;
}

.menu li {
	float: left;
	width: auto;
}

.title {
	float: left;
	width: auto;
}

.box2 {
	float: right;
	width: auto;
}

.footer-wrap {
	padding: 10px 100px;
}

.footer-left {
	display: inline;
	width: 50%;	
	float: left;
}	

.footer-left p {
 	text-align: left;
}

.footer-right {
	width: 50%;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.footer-left ul {
	margin: 50%;
}

.footer-left h4 {
	font-size: 1.8rem;
	text-align: left;
}

.footer-right p {
	padding-top: 15px;
	text-align: center;
}

.footer-right ul li {
	float: left;
	width: 32%;
	margin-right: 2%;
}

.footer-right ul li:last-child {
	margin-right: 0;
}

.footer-right ul li a {
	text-decoration: none;
}

}

@media screen and (min-width: 1281px){
	.feature,.news{
		width:1231px;
		margin-left: auto;
		margin-right: auto;
	}

	.feature1 {
		float: left;
		width: 32%;
		margin-right: 2%;
	}

	.feature2 {
		float: left;
		width: 32%;
		margin-right: 2%;
	}

	.feature3 {
		float: left;
		width: 32%;
	}

	.menu li {
	float: left;
	width: auto;
	}

}
